= form_for @character, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :story_id, :class => 'control-label'
    .controls
      = f.number_field :story_id, :class => 'number_field'
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :physical_stress, :class => 'control-label'
    .controls
      = f.number_field :physical_stress, :class => 'number_field'
  .control-group
    = f.label :mental_stress, :class => 'control-label'
    .controls
      = f.number_field :mental_stress, :class => 'number_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .control-group
    = f.label :refresh, :class => 'control-label'
    .controls
      = f.number_field :refresh, :class => 'number_field'
  .control-group
    = f.label :character_idea, :class => 'control-label'
    .controls
      = f.text_area :character_idea, :class => 'text_area'
  .control-group
    = f.label :phase_trio_one, :class => 'control-label'
    .controls
      = f.text_area :phase_trio_one, :class => 'text_area'
  .control-group
    = f.label :phase_trio_two, :class => 'control-label'
    .controls
      = f.text_area :phase_trio_two, :class => 'text_area'
  .control-group
    = f.label :phase_trio_three, :class => 'control-label'
    .controls
      = f.text_area :phase_trio_three, :class => 'text_area'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), characters_path, :class => 'btn'
